<footer>
    <p>
        <a href="{{ url_for("index", lang="de") }}">DE</a> |
        <a href="{{ url_for("index", lang="en") }}">EN</a>
    </p>

    <p>
        <a href="{{ url_for("suggest", lang=lang) }}">
            {{ "Grund vorschlagen" if lang=="de" else "Suggest reason" }}
        </a>
    </p>

    <p>
        <a href="https://sbiewald.de/impressum">{{ "Impressum" if lang == "de" else "Imprint" }}</a>
        <br>
        {% if lang == "de" %}
            Es werden keine personenbezogenen Daten gespeichert.
        {% else %}
            No personal data is stored.
        {% endif %}
    </p>

    <p><br><br>
        <a href="https://github.com/varbin/historisch-gewachsen.de">Fork me on GitHub!</a>
    </p>

</footer>